<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <%- include("partials/head") %>
</head>
<body>

    <%- include("partials/navigation") %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit totam ipsa, tenetur maxime quam rem, delectus neque itaque et porro a cumque distinctio molestias! Mollitia sint sapiente dolor nesciunt. Explicabo accusantium quam excepturi dicta omnis dignissimos aut blanditiis fugiat debitis obcaecati, similique necessitatibus vero, laborum minima delectus fuga neque? Culpa aut itaque ipsa esse minus pariatur vel recusandae alias dicta nemo, eos optio, quod ratione ullam dolorum. Sequi, quaerat minus laudantium, iste rerum est fugiat quisquam, maiores tempora quidem ea accusamus eius? Magni ipsa provident id, totam facere illo non delectus officiis veniam eaque adipisci aliquam nisi atque facilis sed, minus numquam a aliquid et. Necessitatibus fugiat veniam repellendus cupiditate minus fuga vitae distinctio eum cumque, reiciendis modi cum id officiis officia itaque recusandae saepe aliquam ad labore iste excepturi tempore corporis in rem? Consequatur velit quibusdam sunt ipsam voluptate fuga, repudiandae reprehenderit iusto quia dolor officiis labore accusantium debitis mollitia hic quisquam eligendi voluptates blanditiis veritatis natus cupiditate delectus quas repellat. Voluptatum illum consequatur, repellendus nulla deserunt commodi facilis dolor animi quo laboriosam unde praesentium facere sunt adipisci, dolores eos magnam? Laborum voluptatum natus, sed odit reprehenderit labore aspernatur voluptate quidem praesentium corporis! Distinctio iste ab sit aut officia.</p>
        </section>
    </main>

    <%- include("partials/footer") %>
    
</body>
</html>